utils/project.a
results/error_return_folder/error_return_1
results/error_return_folder/error_return_2
results/error_return_folder/error_return_3
results/no_crash_folder/no_crash_1
results/simple_test_folder/simple_test_1
results/simple_test_folder/simple_test_2
results/simple_test_folder/simple_test_3
